solutions/SearchOrder/Workflows/GetOrderInfo-2-387821A0-790A-EE11-8F6E-002248D5D015.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "11d012d4-700b-47cf-9633-4cef81d69781"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "ordernumber",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "HTTP": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "506bf3b5-1094-4721-ad3c-20f885483e7b"
          },
          "type": "Http",
          "inputs": {
            "method": "GET",
            "uri": "https://apierp02.officevg.com/orderprocessing/orders/vieworder",
            "headers": {
              "ordernumber": "@triggerBody()['text']"
            }
          }
        },
        "Compose": {
          "runAfter": {
            "HTTP": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9cafe93b-8eb7-48a2-a451-919f67edbb95"
          },
          "type": "Compose",
          "inputs": "@outputs('HTTP')['body']"
        },
        "Response": {
          "runAfter": {
            "Compose": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d0ee1199-31d2-4081-8f86-fb0c7dccbd93"
          },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "body": "@outputs('Compose')",
            "schema": {
              "type": "object",
              "properties": {
                "orderid": {
                  "type": "string"
                },
                "ordernumber": {
                  "type": "string"
                },
                "orderdate": {
                  "type": "string"
                },
                "orderdescription": {
                  "type": "string"
                },
                "ordergroup": {
                  "type": "string"
                },
                "ordersource": {
                  "type": "string"
                },
                "ordertype": {
                  "type": "string"
                },
                "orderpriority": {
                  "type": "string"
                },
                "customerid": {
                  "type": "string"
                },
                "customername": {
                  "type": "string"
                },
                "customercountry": {
                  "type": "string"
                },
                "address_dl_contactperson": {
                  "type": "string"
                },
                "address_dl1": {
                  "type": "string"
                },
                "address_dl2": {},
                "address_dl3": {},
                "address_dl_city": {
                  "type": "string"
                },
                "address_dl_state": {
                  "type": "string"
                },
                "address_dl_country": {
                  "type": "string"
                },
                "address_dl_pincode": {
                  "type": "string"
                },
                "ordertakenby": {
                  "type": "string"
                },
                "ordertakenby_shortname": {
                  "type": "string"
                },
                "ordermeasuredby": {
                  "type": "string"
                },
                "ordermeasuredby_shortname": {
                  "type": "string"
                },
                "ordermeasuredate": {
                  "type": "string"
                },
                "orderimages": {},
                "isactive": {
                  "type": "boolean"
                },
                "accounts_payment_approval": {
                  "type": "string"
                },
                "accounts_payment_desc": {},
                "accounts_user": {
                  "type": "integer"
                },
                "accounts_date": {
                  "type": "string"
                },
                "fabric_issue_status": {
                  "type": "string"
                },
                "fabric_issue_status_desc": {},
                "fabric_desc": {
                  "type": "string"
                },
                "fabric_user": {
                  "type": "integer"
                },
                "fabric_date": {
                  "type": "string"
                },
                "prodreg_status": {
                  "type": "string"
                },
                "prodreg_status_desc": {},
                "prodreg_desc": {},
                "prodreg_user": {
                  "type": "integer"
                },
                "prodreg_date": {
                  "type": "string"
                },
                "createdby": {
                  "type": "string"
                },
                "createdAt": {
                  "type": "string"
                },
                "modifiedby": {
                  "type": "string"
                },
                "updatedAt": {
                  "type": "string"
                },
                "ts": {
                  "type": "string"
                },
                "ordernumber_ref": {},
                "source": {
                  "type": "string"
                },
                "order_eta": {
                  "type": "string"
                },
                "order_ata": {},
                "acc_approval_eta": {
                  "type": "string"
                },
                "acc_approval_ata": {
                  "type": "string"
                },
                "fabricissue_eta": {
                  "type": "string"
                },
                "fabricissue_ata": {},
                "fabricop_eta": {
                  "type": "string"
                },
                "fabricop_ata": {},
                "prod_eta": {
                  "type": "string"
                },
                "prod_ata": {},
                "quality_eta": {
                  "type": "string"
                },
                "quality_ata": {},
                "dispatch_eta": {
                  "type": "string"
                },
                "dispatch_ata": {},
                "emailid": {
                  "type": "string"
                },
                "cellularphoneno": {
                  "type": "string"
                },
                "orderitemlist": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "productShortname": {
                            "type": "string"
                          },
                          "numberitems": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "productShortname",
                          "numberitems"
                        ]
                      }
                    }
                  }
                },
                "emailid2": {
                  "type": "string"
                },
                "phoneno1": {},
                "phoneno2": {},
                "qa_usershortname": {
                  "type": "string"
                },
                "qa_notes": {
                  "type": "string"
                },
                "qa_datetime": {
                  "type": "string"
                },
                "qa_status": {
                  "type": "string"
                },
                "pkg_usershortname": {
                  "type": "string"
                },
                "pkg_notes": {
                  "type": "string"
                },
                "pkg_datetime": {
                  "type": "string"
                },
                "pkg_status": {
                  "type": "string"
                },
                "orderitemlist_alt": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "productShortname": {
                            "type": "string"
                          },
                          "numberitems": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "productShortname",
                          "numberitems"
                        ]
                      }
                    }
                  }
                },
                "mergeid": {
                  "type": "string"
                },
                "accounts_invoiceamt": {
                  "type": "string"
                },
                "accounts_receiptamt": {
                  "type": "string"
                },
                "salestrip_name": {
                  "type": "string"
                },
                "ordernumber_reseller": {},
                "orderitemlist_prod": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "productShortname": {
                            "type": "string"
                          },
                          "numberitems": {
                            "type": "integer"
                          }
                        },
                        "required": [
                          "productShortname",
                          "numberitems"
                        ]
                      }
                    }
                  }
                },
                "order_ata_type": {
                  "type": "integer"
                },
                "order_ata_desc": {},
                "iscustservice": {
                  "type": "integer"
                },
                "accounts_currencyint": {
                  "type": "string"
                },
                "accounts_invoiceamt_currencyint": {
                  "type": "string"
                },
                "accounts_receiptamt_currencyint": {
                  "type": "string"
                },
                "productionpriority": {
                  "type": "string"
                },
                "customerid_t1": {},
                "customername_t1": {},
                "iscustservicewatchlist": {
                  "type": "integer"
                },
                "closedorder_usershortname": {
                  "type": "string"
                },
                "closedorder_date": {
                  "type": "string"
                },
                "closedorder_notes": {},
                "isclosedorder": {
                  "type": "boolean"
                },
                "acc_user_shortname": {},
                "orderincharge_shortname": {
                  "type": "string"
                },
                "orderinchargeid": {
                  "type": "string"
                },
                "isalterationitem": {
                  "type": "boolean"
                },
                "issingleproduct": {
                  "type": "boolean"
                },
                "issubmitted": {
                  "type": "boolean"
                },
                "closedorder_type": {
                  "type": "integer"
                },
                "rofc_usershortname": {},
                "rofc_date": {},
                "rofc_notes": {},
                "rof_usershortname": {},
                "rof_date": {},
                "rof_notes": {},
                "isviporder": {
                  "type": "boolean"
                },
                "accounts_chargedate": {
                  "type": "string"
                },
                "prod_complete_date": {
                  "type": "string"
                },
                "order_notes_gen": {
                  "type": "string"
                },
                "accounts_datetime": {},
                "orderproc_status": {
                  "type": "string"
                },
                "orderproc_desc": {
                  "type": "string"
                },
                "orderproc_datetime": {
                  "type": "string"
                },
                "orderproc_usershortname": {
                  "type": "string"
                },
                "prod_notes": {},
                "prod_allocated_process": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "prod_allocated_process": {
                        "type": "string"
                      },
                      "count": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "prod_allocated_process",
                      "count"
                    ]
                  }
                },
                "prod_stageat": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "prod_stageat": {
                        "type": "string"
                      },
                      "count": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "prod_stageat",
                      "count"
                    ]
                  }
                },
                "prodstart_ata": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "prodstartdate": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "prodstartdate"
                    ]
                  }
                },
                "stickerprintcount": {
                  "type": "string"
                },
                "laststickerprintdate": {
                  "type": "string"
                },
                "item_current_status": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ordernumber": {
                        "type": "string"
                      },
                      "productshortname": {
                        "type": "string"
                      },
                      "qa_status": {
                        "type": "string"
                      },
                      "count": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "ordernumber",
                      "productshortname",
                      "qa_status",
                      "count"
                    ]
                  }
                },
                "production_current_status": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "ordernumber": {
                        "type": "string"
                      },
                      "productshortname": {
                        "type": "string"
                      },
                      "prod_status": {
                        "type": "string"
                      },
                      "count": {
                        "type": "integer"
                      }
                    },
                    "required": [
                      "ordernumber",
                      "productshortname",
                      "prod_status",
                      "count"
                    ]
                  }
                },
                "total_prod_items": {
                  "type": "string"
                },
                "prod_items_notstarted": {
                  "type": "string"
                },
                "prod_items_wip": {
                  "type": "string"
                },
                "prod_items_completed": {
                  "type": "string"
                },
                "bill_pending": {
                  "type": "string"
                },
                "no_payment": {
                  "type": "string"
                },
                "fabric_not_cut": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}